$ns: 'ktg' !default;

$base---font-size: 14px;
$base---font-family: 'Quicksand', sans-serif;

$break-mobile:      640px !default;
$break-tablet:      768px !default;
$break-desktop:     1024px !default;
$break-wide:        1600px !default;

$noquery:           'no-media-query' !default;

// Layers

$layer-under-all:   -99 !default;
$layer-third-down:   -3 !default;
$layer-second-down:  -2 !default;
$layer-first-down:   -1 !default;
$layer-normal:        0 !default;
$layer-first-up:      1 !default;
$layer-second-up:     2 !default;
$layer-third-up:      3 !default;
$layer-above-all:    99 !default;

$layers: (
  under-all: $layer-under-all,
  third-down: $layer-third-down,
  second-down: $layer-second-down,
  first-down: $layer-first-down,
  normal: $layer-normal,
  first-up: $layer-first-up,
  second-up: $layer-second-up,
  third-up: $layer-third-up,
  above-all: $layer-above-all
) !default;

$browser-not-supported-class: 'ie-not-supported' !default;
