# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Indentation override for all JS
[./src/**.js]
indent_style = space
indent_size = 2

# Indentation override for all JS
[./src/**.scss]
indent_style = space
indent_size = 4

# Indentation override for all Html
[./src/**.html]
indent_style = space
indent_size = 4
