.#{$namespace}-logo {
    font-size: 0;
    line-height: 0;
    text-align: center;

    &__icon {
        width: 156px;
        height: 150px;
        background-image: url('../../images/logo.png');
        margin-bottom: 10px;
    }

    &__tipo {
        color: white;
        font-weight: 300;
        font-size: 30px;
    }

}