.#{$namespace}-logo {
    text-align: center;
    margin: 0;

    &__icon {
        display: block;
        width: 100px;
        height: 0;
        padding-top: 134px;
        overflow: hidden;
        opacity: 1;

        background-image: url('../../images/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        font-size: 0;

        animation: 1s ease-in-out 1.5s 1 forwards change_logo;
    }

    &__tipo {
        color: white;
        font-weight: 300;
        font-size: 30px;
    }

    @keyframes change_logo {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.8;
            transform: scale(1.1);
        }
        100% {
            opacity: 0.5;
            transform: scale(0.8);
        }
    }
}
