.#{$namespace}-bus-stop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__description {
      font-size: 2em;
      flex-direction: column;
    }

    &__distance {
      font-size: 0.7em;
      flex-direction: column;
    }

    &__routes {
      background-color: #ffffff;
      width: 60%;
    }
}
