@import '/styles/setup',
        '/styles/colors',
        '/styles/utilities';

@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint';

@import '../components/logo/logo',
        '../components/buttons/btn',
        '../components/buttons/circle',
        '../components/geolocalizer/geolocalizer',
        '../components/slider/slider',
        '../components/bus-route/bus-route',
        '../components/home/home',
        '../components/results/results';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $base---font-family;
    font-size: $base---font-size;
}

.#{$ns} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    padding: 3vh 3vw;

    background-image: url('../images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
}
