.#{$ns}-home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        margin: 1vh 0 12vh 0;

        @include breakpoint($break-tablet) {
            margin: 2vh 0 6vh 0;
        }

        &--is-loading {
            display: none;
        }
    }

    &__title {
        font-size: 0;
        line-height: 0;
    }

    .#{$ns}-logo {
        animation: 1s ease-in-out 1.5s 1 forwards logo_animation;

        @keyframes logo_animation {
            0% {
                opacity: 1;
            }
            35% {
                opacity: 0.4;
                transform: scale(1.1);
            }
            100% {
                opacity: 1;
                transform: scale(0.8);
            }
        }

    }

    .#{$ns}-home__metersAround {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--is-loading {
            display: none;
        }
    }

    .#{$ns}-slider {
        margin-bottom: 3vh;
    }

    .#{$ns}-geolocalizer {

        &--is-pulse {
            animation: 1s ease-in-out 3.5s 2 forwards geolocalizer_pulse;

            @keyframes geolocalizer_pulse {
                0% {
                    transform: scale(1);
                }
                25% {
                    transform: scale(1.1);
                }
                50% {
                    transform: scale(0.9);
                }
                75% {
                    transform: scale(1.2);
                }
                100% {
                    transform: scale(1);
                }
            }
        }

    }

    .#{$ns}-loading {
        opacity: 0;
        height: 0px;

        animation: opacity 3s slidein;

        &--is-loading {
            opacity: 1;
            height: auto;
            animation: opacity 3s slidein;

        }
    }
}
