.#{$namespace}-route-result {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        margin-bottom: 8vh;
    }

    &__title {
        line-height: 0;
    }
}
